In [1]:
"SAD"+"BAD"

'SADBAD'

In [4]:
Name = " Nikhil"
Sirname = "Ahire"
print(Name + " "+ Sirname)

 Nikhil Ahire

In [18]:
a = 2.3
print(type(a))
int(a)

<class 'float'>

2

In [19]:
b = 312
print(type(b))
float(b)

<class 'int'>

312.0

In [20]:
c = 3j
print(type(c))
int(c)

<class 'complex'>

TypeError: ignored

In [13]:
a = 2.3
complex(a)

(2.3+0j)

In [14]:
b = 312
complex(b)

(312+0j)

In [21]:
a = 2.3
b = 312
complex(a,b)

(2.3+312j)

In [24]:
Name = " Nikhil"
Age = "20"
Class = "TY BSc"
College = " SP College"
myorder = " My name is {} and I'm {} years old, I am student of {} studying in {}."
print(myorder.format(Name,Age,Class,College))

 My name is  Nikhil and I'm 20 years old, I am student of TY BSc studying in  SP College.

In [27]:
Name = " Nikhil"
Age = "20"
Class = "TY BSc"
College = " SP College"
myorder = " My name is {t} and I'm {s} years old, I am student of {y} studying in {x}."
print(myorder.format(t=Name,s=Age,y=Class,x=College))

 My name is  Nikhil and I'm 20 years old, I am student of TY BSc studying in  SP College.

In [28]:
Name = " Nikhil"
Age = "20"
Class = "TY BSc"
College = " SP College"
myorder = " My name is {x} and I'm {s} years old, I am student of {y} studying in {x}."
print(myorder.format(t=Name,s=Age,y=Class,x=College))

 My name is  SP College and I'm 20 years old, I am student of TY BSc studying in  SP College.